/* src/components/Signup.css */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: #0055a2;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #1c88f4;
}
