/* CartIcon.css */

.cart-icon-container {
    position: relative;
    display: inline-block;
}

.cart-icon {
    font-size: 24px;
    color: #333;
}

.cart-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #4CAF50; /* Green color for the badge */
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 5px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
